/* .navbar-links {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
} */

/* above navbar start */
.outerMain{
  background-color: rgb(238,238,238);
}
.aboveNavbar{
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: auto;
  height: 30px; 
}
.aboveRBlock{
  display: flex;
  justify-content: space-between;
  /* border: 1px solid grey; */
  gap: 20px;
  font-size: small;
}
.aboveRBlock p{
  margin-top: 5px;
}
.aboveLBlock p{
  margin-top: 5px;
}
.aboveLBlock{
  display: flex;
  justify-content: space-between;
  /* border: 1px solid grey; */
  gap: 20px;
  font-size: small;
}
.aboveNavbar p:hover{
  color: rgb(7, 81, 219);
  cursor: pointer;
}
.nav{
    display: flex;
    height: 60px;
    padding: 10px;
    width: 75%;
    margin:auto;
    margin-top: 10px;
    gap: 10px;
  /* border: 1px solid rgb(47, 71, 255); */
}
.Logo{
  width: 150px;
  height: 50px;
  margin-right: 10px;
  margin-top: -10px;
}  
.searchIp{
    width: 25%;
    border-radius: 10px;
    /* margin-left: 230px;   */
    height: 20px; 
    /* border: 1px solid purple; */
}
.navIcons{
  width: 220px;
  border-radius: 10px;
  height: 20px;
  display: flex;
  justify-content: space-evenly;
  /* margin: auto; */
  margin-left: 30px;
  /* margin-top: 30px; */
}
.hr{
  color: grey;
}
/* .eachNavIcon{
  width: 40px;
  height: 40px;
} */
.navButtonsDiv{
  /* border: 1px solid red; */
  margin-top: 2px;
  /* height: auto; */
  width: 40%;
}
.navButtons{
  background-color: white;
  text-decoration: none;
  font-size: 15px;
  border: none;
  color: black;
  /* font-weight: lighter; */
  margin-top: -10px;
  margin-left: 20px;
  height: 80px;
  width: 200px;
  /* border: 1px solid red; */
  
}
.navButtons:hover{
  /* background-color: #525050; */
  border: 3px solid #febd02;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
.banner{
  display: flex;
  justify-content: center;
  gap: 80px;
  font-size: 20px;
  margin-top: 20px;
}
.userInfo{
  display: flex;
  gap: 5px;
  background-color: #ebe4e4;
  width: 100%;
  height: 30px;
}
.userInfo a{
  text-decoration: underline;
}
.usermenuList a:hover{
  color: rgb(7, 81, 219);
}
.usermenuList {
  width: 350px;
  line-height: 30px;

}

/* @media (max-width:750px){
  .banner{
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(2,1fr);
    width: 70%;
    font-size: small;
  }
} */

/* Navbar End */