.Productpage-main {
  /* border: solid red; */
  width: auto;
  height: auto;
  margin: auto;
}
.Productpage-top {
  width: 85%;
  height: auto;
  margin: auto;
  font-size: 30px;
  margin-bottom: 2%;
  border-bottom: solid rgb(24, 24, 24);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Productpage-top-sorting {
  
}
.Productpage-body {
  width: 85%;
  height: auto;
  margin: auto;
  display: flex;
  gap: 3%;
}

.Productpage-body-left {
  width: 20%;
  height: auto;
}
.Productpage-body-right {
  width: 80%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  text-align: center;
}
.Productpage-body-right > div {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding-bottom: 5px;
}
.Product-price {
  font-size: medium;
  font-weight: bold;
}
.Product-name {
  line-height: 1.5em;
  height: 3em;
  overflow: hidden;
}
.Product-brand {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  align-items: center;
  line-height: 2.1em;
}
.Product-dprice {
  font-size: small;
  font-weight: normal;
  text-decoration: line-through;
  margin-left: 10px;
}

@media (max-width: 750px) {
  .Productpage-body-right {
    display: grid;
    width: 50%;
    grid-template-columns: repeat(1, 1fr);
  }
  .Productpage-body-right > div {
    width: 80%;
  }
  .Productpage-body-left {
    width: 40%;
    height: 100vh;
    min-height: 200px;
    overflow: auto;
    position: -webkit-sticky;
    position: sticky;
    top: 12%;
    zoom: 0.8;
  }
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #181818 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 1px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #181818;
  border-radius: 10px;
  border: 3px solid #ffffff;
}
